@page "/counter"

<p>Current count (Azure devops): @currentCount</p>

<button class="btn btn-primary"
        @onclick="IncrementCount">
    Click me
</button>

<button class="btn btn-primary"
        @onclick="IncrementCountJavacript">
    Click me Javascript
</button>