<h3>BindAfterDemo</h3>

<input type="text" @bind="busqueda" @bind:after="Buscar" />

<p>
    Personas encontradas:
</p>

<ul>
    @foreach (var persona in personasEncontradas)
    {
        <li>@persona</li>
    }
</ul>

@code {
    private string busqueda = string.Empty;
    private List<string> personasEncontradas = new List<string>();

    private async Task Buscar()
    {
        var personas = new List<string>
        {
            "Felipe Gavilán",
            "Felipe Díaz",
            "Claudia Rodríguez",
            "Claudia Celeste"
        };

        await Task.Delay(1000);

        personasEncontradas = personas.Where(p => p.Contains(busqueda)).ToList();

    }

}
