@page "/actores/crear"
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal

<h3>Crear Actor</h3>

<FormularioActores OnValidSubmit="Crear" Actor="Actor" />

@code {
    private Actor Actor = new Actor();

    async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/actores", Actor);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            navigationManager.NavigateTo("actores");
        }
    }
}
