<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorPeliculas</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="peliculas/buscar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Filtro Películas
            </NavLink>
        </li>
        <AuthorizeView Roles="admin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="generos">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Generos
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="personas">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Personas
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="peliculas/crear">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Crear Pelicula
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="usuarios">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Usuarios
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
