@page "/generos/crear"
@inject RepositorioGeneros repositorio
@inject NavigationManager navigationManager
@inject IMostrarMensajes mostrarMensajes
@attribute [Authorize(Roles = "admin")]

<h3>Crear Genero</h3>

<FormularioGenero OnValidSubmit="Crear" Genero="Genero" />

@code {
    private Genero Genero = new Genero();

    private async Task Crear()
    {
        try
        {
            await repositorio.Post(Genero);
            navigationManager.NavigateTo("/generos");
        }
        catch (Exception ex)
        {
            // hacer algo...
        }
    }
}
