@inherits LayoutComponentBase
@inject BlazorPeliculas.Client.Auth.RenovadorToken renovadorToken
@inject IJSRuntime js
@inject NavigationManager navigationManager

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <EnlacesLogin />
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await js.InicializarTimerInactivo(DotNetObjectReference.Create(this));
        renovadorToken.Iniciar();
    }

    [JSInvokable]
    public async Task Logout()
    {
        var authState = await AuthenticationState;
        if (authState.User.Identity.IsAuthenticated)
        {
            // Descomentar para activar deslogueo automático
            //navigationManager.NavigateTo("logout");
        }
    }
}