@page "/actores/crear"

<h3>Crear Actor</h3>

<FormularioActores OnValidSubmit="Crear" Actor="Actor" />

@code {
    private Actor Actor = new Actor();

    void Crear()
    {
        Console.WriteLine("crear actor");
    }
}
