@page "/logout"
@using BlazorPeliculas.Client.Auth;
@inject ILoginService loginService
@inject NavigationManager navigationManager

<p>Deslogueando...</p>

@code {

    protected async override Task OnInitializedAsync()
    {
        await loginService.Logout();
        navigationManager.NavigateTo("");
    }

}
