@page "/"
@page "/index"
@inject IRepositorio repositorio

<PageTitle>Blazor Películas</PageTitle>

<div>
    <h3>En Cartelera</h3>
    <ListadoPeliculas Peliculas="EnCartelera" />
</div>

<div>
    <h3>Próximos Estrenos</h3>
    <ListadoPeliculas Peliculas="FuturosEstrenos" />
</div>

@code {

    public List<Pelicula>? FuturosEstrenos { get; set; }
    public List<Pelicula>? EnCartelera { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var respuestaHTTP = await repositorio.Get<HomePageDTO>("api/peliculas");
        FuturosEstrenos = respuestaHTTP.Response!.ProximosEstrenos;
        EnCartelera = respuestaHTTP.Response!.PeliculasEnCartelera;
    }
}