@page "/counter"

@inherits CounterBase

<p>Current count (Azure devops): @currentCount</p>
<p>Singleton count: @Singleton.Valor</p>
<p>Transient count: @Transient.Valor</p>

<button class="btn btn-primary" 
        @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary"
        @onclick="IncrementCountJavacript">
    Click me Javascript
</button>