@page "/generos/editar/{GeneroId:int}"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensaje
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "admin")]

<h3>Editar Género</h3>

@if (Genero == null)
{
    <text>Cargando...</text>
}
else
{
    <FormularioGenero OnValidSubmit="Editar" Genero="Genero" />
}

@code {
    [Parameter] public int GeneroId { get; set; }
    private Genero Genero;

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await repositorio.Get<Genero>($"api/generos/{GeneroId}");

        if (httpResponse.Error)
        {
            if (httpResponse.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("generos");
            }
            else
            {
                await mostrarMensaje.MostrarMensajeError(await httpResponse.GetBody());
            }
        }
        else
        {
            Genero = httpResponse.Response;
        }
    }

    private async Task Editar()
    {
        var httpResponse = await repositorio.Put("api/generos", Genero);
        if (httpResponse.Error)
        {
            await mostrarMensaje.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            navigationManager.NavigateTo("generos");
        }
    }
}
