@page "/personas"
@inject RepositorioPersonas repositorio
@inject IMostrarMensajes mostrarMensajes
@attribute [Authorize(Roles = "admin")]

<h3>Indice Personas</h3>

<div class="form-group">
    <a class="btn btn-info" href="personas/crear">Crear Persona</a>
</div>

<Paginacion PaginaActual="paginaActual" PaginaSeleccionada="paginaSeleccionada"
            PaginasTotales="paginasTotales"></Paginacion>

<ListadoGenerico Listado="Personas">
    <HayRegistrosCompleto>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Personas)
                {
                    <tr>
                        <td>
                            <a href="personas/editar/@item.Id" class="btn btn-success">Editar</a>
                            <button @onclick="@(() => BorrarPersona(item))" class="btn btn-danger">Borrar</button>
                        </td>
                        <td>@item.Nombre</td>
                    </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico>

@code {
    public List<Persona> Personas { get; set; }
    private int paginaActual = 1;
    private int paginasTotales;

    protected async override Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task paginaSeleccionada(int pagina)
    {
        paginaActual = pagina;
        await Cargar(pagina);
    }

    private async Task Cargar(int pagina = 1)
    {
        var respuestaPaginada = await repositorio.Get(new DTOs.Paginacion { Pagina = pagina });
        Personas = respuestaPaginada.Registros;
        paginasTotales = respuestaPaginada.TotalPaginas;
    }

    private async Task BorrarPersona(Persona persona)
    {
        await repositorio.Delete(persona.Id);
        await Cargar();
    }
}