@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <CascadingValue Value="@appState">
                    @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    //private string Color = "blue";
    //private string Size = "12px";
    AppState appState = new AppState();
}