@page "/generos/crear"

<h3>Crear Genero</h3>

<FormularioGenero OnValidSubmit="Crear" Genero="Genero" />

@code {
    private Genero Genero = new Genero();

    private void Crear()
    {
        Console.WriteLine("Ejecutando método Crear");
        Console.WriteLine($"Nombre del género: {Genero.Nombre}");
    }
}
